.hero {
  background: linear-gradient(135deg, #0d6efd, #198754);
  color: #fff;
}


:focus {
  outline: 3px solid #ffcc00 !important;
  outline-offset: 2px;
}

footer ul li {
  margin-left: 10px;
}

footer a {
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

#carrosselDestaque .carousel-item img {
  height: 400px !important;
  object-fit: cover;
}


